@import 'reset';

body {
    font-family: 'Aleo', serif;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1110px;
}


#mobile_menu {
    ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 30px;
        a{
          text-decoration: none;
          color: #5474fd;
          &:hover  {
            border-bottom: 3px solid #000;
            padding-bottom: 5px;
          }
        }
      }
    }
    padding: 30px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    top: 0;
    left: -100%;
    position: fixed;
    background-color: #ffffff;
    opacity: 0.7;
    z-index: 110;
    transition: all .2s ease;
    &.opened {
      left: 0;
    }
    .hamburger {
        position: absolute;
        right: 7px;
        top: 0px;
    }
}

#menu_shadow {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
    opacity: 0;
    transition: all .2s ease;
    &.opened {
      display: block;
      opacity: 1;
    }
}




.screen_01 {
    background: url(../img/section01.jpg) no-repeat;
    background-size: cover;
    padding: 265px 0 129px 0; 
}

.wrap_01 {
    text-align: center;
    color: #ffffff;
    .title {
        margin-bottom: 47px;
        .title_top {
            letter-spacing: 2.7px;
            font-size: 48px;
            font-weight: bold;
            padding-bottom: 7px;
        }
        .subtitle {
            font-size: 22px;
            letter-spacing: 5.2px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
        }
    }

    form {
        padding-bottom: 121px;
        .form_search {
            width: 100%;
            height: 60px;
            max-width: 650px;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 2px;
            margin: 0 auto;
            input {
                width: 78%;
                border-color: transparent;
                outline: 0 none;
                &::placeholder {
                    text-align: center;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 2px;
                    text-transform: capitalize;
                }
            }
            button {
                width: 22%;
                background-color: #5474fd;
                text-transform: uppercase;
                cursor: pointer;
                border: transparent;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Aleo Regular';
                font-size: 14px;
                letter-spacing: 2px;
                outline: 0 none;
                &:hover {
                    background-color: #fff;
                    color: #5474fd;
                    border: 2px solid #5474fd;
                }
                svg {
                    height: 27px;
                    width: 27px;
                    position: relative;
                    right: -10px;
                }
            }
        }
    }

    input[type=text] {
        color: #5474fd;
        font-size: 24px;
    }
    input:focus::placeholder {
        color: transparent;
    }

    .scroll_down {
        display: flex;
        flex-direction: column;
        .text_scroll {
            font-size: 14px;
            padding-bottom: 9px;
            letter-spacing: 2px;
        }
    }  
}

.nav_menu {
    background-color: #5474fd;
    .flex_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        color: #ffffff;
        .header_nav .nav_title {
            font-size: 24px;
            letter-spacing: 1.6px;
        }
        nav ul {
            display: flex;
            flex-direction: row;
            li {
                margin-left: 42px;
                list-style: none;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 14px;
                    font-family: 'Aleo', serif;
                    &:hover {
                        color: #d32029;
                    }
                }
            }
        }
    }
}

#screen_02 {
    background: url(../img/section02.jpg) no-repeat;
    background-size: cover;
}

.wrap_02 {
    img {
        width: 100%;
    }
    display: flex;
    justify-content: space-between;
    padding: 120px 0 120px 0;
    .choose {
        width: 100%;
        max-width: 540px;
        p {
            color: #a7a3a2;
            font-size: 16px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            line-height: 26px;
            word-spacing: 3px;
        }
        .choose_title {
            font-size: 36px;
            color: #ffffff;
            font-family: 'Aleo', serif;
            font-weight: 400;
            padding-bottom: 53px;
            padding-top: 79px;
        }
        .choose_text01 {
            padding-bottom: 26px;
        }
        .choose_btn {
            margin-top: 42px;
            button {
                letter-spacing: 1.3px;
                width: 225px;
                height: 60px;
                color: #fff;
                background-color: #5474fd;
                font-size: 16px;
                text-transform: uppercase;
                outline: 0 none;
                border: transparent;
                z-index: 1;
                position: relative;
                overflow: hidden;
                font-family: 'Aleo', serif;
                &:before {
                  content: " ";
                  width: 300px;
                  height: 300px;
                  background-color: #496bfe;
                  z-index: -1;
                  transform: rotate(50deg);
                  position: absolute;
                  left: -225px;
                  top: -69px;
                  transition: all .6s ease;
                }
                &:hover:before {
                  left: -20px;
                }
            
            }     
        }
    }
    .choose_photo {
        width: 100%;
        max-width: 475px;
        .img_01 {
            float: left;
            margin-bottom: 5px;
        }
        .img_02 {
            float: right;
        }
    }
    .clear_fix::after {
        content: '';
        clear: both;
        line-height: 0;
        display: block;
    }
}


.screen_03 {
    position: relative;
    z-index: 1;
    background-color: #333333;
    padding-top: 86px;
    padding-bottom: 107px;
    svg {
        width: 100%;
    }
    .wrap_03 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 370px;
            .text_icon {
                font-size: 36px;
                color: #ffffff;
                font-family: 'Aleo', serif;
                font-weight: 400;
            }
            .icon {
                height: 86px;
                z-index: 100;
                background-color: #333333;
            }
            .icon_left {
                width: 78px;
                border-radius: 50%;
            }
            .icon_center {
                width: 78px;
                border-radius: 50%;
                
            }
            .icon_right {
                width: 108px;
                border-radius: 50%;
            }
        }
        .top {
            position: absolute;
            top: 37px;
            z-index: 0;
        }
            
       
    }
}



.screen_04 {
    background: url(../img/section03.jpg) no-repeat;
    background-size: cover;
    padding: 229px 0 100px 0;
}

.wrap_04 {
    background-color: #232221;
    opacity: 0.9;
    width: 100%;
    max-width: 540px;
    padding: 50px 32px 50px 31px;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    .twins_01 {
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 30px;
    }
    .twins_02 {
        font-size: 20px;
        font-weight: 400;
    }
    
    .twins_03 {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 0 42px 0;
        line-height: 26px;
    }
    button {
        letter-spacing: 1.3px;
        width: 225px;
        height: 60px;
        color: #fff;
        background-color: #5474fd;
        font-size: 16px;
        text-transform: uppercase;
        outline: 0 none;
        border: transparent;
        z-index: 1;
        position: relative;
        overflow: hidden;
        font-family: 'Aleo', serif;
        &:before {
          content: " ";
          width: 300px;
          height: 300px;
          background-color: #496bfe;
          z-index: -1;
          transform: rotate(50deg);
          position: absolute;
          left: -225px;
          top: -69px;
          transition: all .6s ease;
        }
        &:hover:before {
          left: -20px;
        }
    } 
}

.screen_05 {
    background: url(../img/section04.jpg) no-repeat;
    background-size: cover;
    padding: 229px 0 100px 0;
    .screen_flex {
        display: flex;
        justify-content: flex-end;
    }
}

.screen_06 {
    background: url(../img/section05.jpg) no-repeat;
    background-size: cover;
}

.wrap_05 {
    padding: 116px 0 200px 0;
    .say {
        font-size: 36px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        word-spacing: 3px;
        padding-bottom: 88px;
    }
}

.wrap_man {
    display: flex;
    align-items: center;
    .man_text {
        padding: 50px 13px 47px 57px;
        .name_top {
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            color: #fefefe;
            padding-bottom: 43px;
        }
        .tourist_text {
            line-height: 26px;
            color: #a0a0a0;
            .quotes {
                font-size: 40px;
                color: #5474fd;
            }
        }
    }
}

footer {
    padding: 108px 0 52px 0;
    background-color: #232323;
    .foo {
        text-align: center;
        .foo_title {
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 2px;
            padding-bottom: 12px;
        }
        .foo_text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            word-spacing: 3.1px;
        }
    }
    .soc_list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 27px;
        ul {
            list-style: none;
            width: 100%;
            max-width: 170px;
            display: flex;
            li a {
                text-decoration: none;
                height: 16px;
                width: 18px;
                margin-right: 22px;
                &:last-child {
                    margin-left: 0;
                }
                i {
                    color: #ffffff;
                    &:hover {
                        color: #5474fd;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 4000px) {
    .nav_menu .hamburger {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .nav_menu .hamburger {
        display: none;
    }
    .screen_03 .wrap_03 .block .text_icon {
        font-size: 28px;
    }
    .wrap_02 .choose_photo {
        margin-left: 30px;
        margin-top: 85px;
        .img_01 {
            margin-bottom: 30px;
        }
    }
    .wrap_02 .choose {
        text-align: center;
    }
    .wrap_man .man_text {
        text-align: center;
    }
    .wrap_man {
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top {
        display: none;
    }
    .screen_04, .screen_05 {
        padding: 100px 0 100px;
    }
    .wrap_05 {
        padding: 100px 0;
    }
    footer {
        padding: 50px 0;
    }
    .wrap_man .man_text {
        padding: 50px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .nav_menu .hamburger {
        display: block;
    }
    .flex_menu nav {
        display: none;
    }
    .nav_menu .flex_menu nav ul li {
        margin-left: 20px;
    }

    .wrap_02 {
        padding: 50px 0;
    }
    .screen_03 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .top {
        display: none;
    }
    .man_photo {
        img {
            width: 100%;
        }
    }
    .screen_03 .wrap_03 .block .text_icon {
        font-size: 23px;
    }
    .wrap_02 .choose .choose_title {
        padding-top: 10px;
    }
    
}

@media screen and (max-width: 650px) {
    h3.text_text {
        font-size: 24px;
    }
    .wrap_02 {
        flex-wrap: wrap;
        .choose {
            max-width: none;
        }
        .choose_photo {
            margin-top: 30px;
            margin-left: 0;
            max-width: none;  
        }
    }
    .wrap_04 {
        text-align: center;
    }
    
}

@media screen and (max-width: 578px) {
    .s1 {
        display: none;
    }
    .wrap_01 form .form_search button svg {
        right: 0;
    }
    .wrap_01 form .form_search button {
        width: 15%;
    }
    .screen_03 {
        padding: 50px 0;
        .wrap_03 {
        flex-direction: column;
        }
        .block {
            margin-bottom: 30px;
        }
    }
    .screen_03 .wrap_03 .block .icon_right {
        width: 88px;
    }
    h3.text_text {
        font-size: 30px;
    }
}

@media screen and (max-width: 507px) {
    .wrap_02 .choose .choose_title {
        padding-top: 30px;
    }
    .wrap_02 {
        padding: 20px 0;
    }
    .screen_03 {
        padding: 20px 0;
    }
    .screen_04, .screen_05, .wrap_05 {
        padding: 30px 0;
    }
    .wrap_05 .say {
        padding-bottom: 40px;
    }
    footer {
        padding: 30px 0;
    }
}

@media screen and (max-width: 350px) {
    .wrap_01 .title .title_top {
        font-size: 40px;
    }
}
